<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Roller</title>
    <meta charset="UTF=8"/>
  </head>
  <body>
    <div id="main"></div>
    
    <script src="/static/my-radiance/lib/jquery.min.js"></script>    
    <script src="/static/my-radiance/lib/modernizr-dev.js"></script>
    <script src="/static/my-radiance/lib/pixi.js"></script>
    <script src="/static/my-radiance/game-state.js"></script>
    <script src="/static/my-radiance/game-classes.js"></script>
    <script src="/static/my-radiance/game-objects.js"></script>
    <script src="/static/my-radiance/game.js"></script>
    <script src="/static/my-radiance/main.js"></script>
  </body>
</html>
